img {
    display: block;
    margin: auto;
    width: 30%;
}
table {
    text-align: left;
    font-family: arial;
    font-size: 20px;
}
a {
    color: black;
    text-align: arial;
    text-decoration: none;
    font-size: arial, sans-serif;
}
a:visited {
    color: black
}